.subhead{
    height:93vh;
    // padding-left: 20px;
    // padding-top: 20px;
}
.green-bg{
    background: #60d194;
}
.grey-bg{
    background: #a7a7a7;
}
.white-text{
    color: white;
}
.dark-grey-bg{
    background-color: #8c8a8a;
}
.dark-green{
    background-color: #2cba75;
}
.header-style{
    padding-left: 20px;
    height: 10vh;
    padding-top: 2vh;
}
.subhead-body{
    padding-top: 4vh;
    color: white;
}
.left-div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.anchors{
    text-align: center;
    display: inline-block;
    width: 50%;
}
.anchor{
    width: 30vw;
    height: 25vh;
}
.anchor-overlay{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(170, 170, 170, 0.5);
    padding-top: 10vh;
    height: 25vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.anchor-overlay:hover{
    background: rgba(170, 170, 170, 0.8);
}
.anchor-container{
    position: relative;
}
.overlay-heading{
    text-decoration: underline;
}