.subhead{
    height:93vh;
}
.green-bg{
    background: #57bc90;
}
.grey-bg{
    background: #ffd152;
}
.white-text{
    color: white;
}
.dark-grey-bg{
    background-color: #ffa705;
}
.dark-green{
    background-color: #77c9d4;
}
.header-style{
    height: 10vh;
    padding-top: 2vh;
    h2{
        padding-left: 20px;
    }
}
.subhead-body{
    padding-top: 4vh;
    color: white;
}
.intro-div{
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}
.anchors{
    text-align: center;
}
.anchor{
    width: 30vw;
    height: 25vh;
}
.anchor-overlay{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(170, 170, 170, 0.3);
    padding-top: 10vh;
    height: 25vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: background .5s ease-out;
    -moz-transition: background .5s ease-out;
    -o-transition: background .5s ease-out;
    transition: background .5s ease-out;
}
.anchor-overlay:hover{
    background: rgba(170, 170, 170, 0.6);
}
.anchor-container{
    position: relative;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
    p{
        width: 30vw;
        padding-top: 4px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.anchor-container:focus{
    outline:none;
}
.overlay-heading{
    text-decoration: underline;
}
.clear{
    clear: both;
}
.vert-align{
    vertical-align: none;
}
.separator{
    height: 7vh;
}